.icon-top-left {
  align-self: flex-start;
}

.icon-bottom-right {
  align-self: flex-end;
}

.season-display.summer i {
  color: red;
}

.season-display.winter i {
  color: blue;
}

.season-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: orange;
}
